/* styles/globals.css */
@import 'tailwindcss';

html,
body {
  background-color: black;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


h1::selection, h2::selection, p::selection, h3::selection, a::selection {
  background-color: #636de134;
  color: #636EE1;
}